{% for complexfield in d.fields.complex %}
function {{ complexfield.function }}(tvb, pinfo, tree)
  local offset = 0

  {% for field in d.fields.type[complexfield.id] %}
  tree:{{ d.settings.add}}({{ field.variable }}, tvb(offset, {{ field.size }}))
  offset = offset + {{ field.size }}
  {% endfor %}

  return offset
end

{% endfor %}