{% for complexfield in d.fields.complex %}
function {{ complexfield.function }}(tvb, pinfo, tree)
  local offset = 0
  local values = {}

  {% for field in d.fields.type[complexfield.type] %}
  {% include 'dissect.j2' %}
  {% endfor %}

  return offset
end

{% endfor %}