  {% if field.primitive %}
  tree:{{ field.add_fn }}({{ field.variable }}, tvb({% if field.pos %}{{ field.pos }}{% else %}offset{% endif %}, {{ field.size }}))
  values["{{ field.id }}"] = tvb(offset, {{ field.size }}){{ field.value_fn }}
  offset = offset + {{ field.size }}
  {% else %}
  local {{ field.id }}_tree = tree:add("{{ field.title }}", tvb(offset))
  local {{ field.id }}_size = {{ field.function }}(tvb(offset), pinfo, {{ field.id }}_tree)
  offset = offset + {{ field.id }}_size
  {% endif %}
