local {{ d.names.proto }} = Proto("{{ d.names.dissector_id }}", "{{ d.names.dissector_name }}")

{% include 'fields.j2' %}

-- main function
function {{ d.names.proto }}.dissector(tvb, pinfo, root)
  pinfo.cols.protocol = "{{ d.names.dissector_name }}"
  local tree = root:add({{ d.names.proto }}, tvb(), "{{ d.names.dissector_name }}")
  local offset = 0
  local values = {}

  {% for field in d.fields.root %}
  {% include 'dissect.j2' %}

  {% endfor %}
end

{% include 'dissect_functions.j2' %}